In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Data Cleaning

In [12]:
train = pd.read_csv("../Data/train.csv", index_col = 0, parse_dates = ['date'])
test = pd.read_csv("../Data/test.csv", index_col = 0)
train.head(20)

         date  store_nbr               family  sales  onpromotion
id
0  2013-01-01          1           AUTOMOTIVE    0.0            0
1  2013-01-01          1            BABY CARE    0.0            0
2  2013-01-01          1               BEAUTY    0.0            0
3  2013-01-01          1            BEVERAGES    0.0            0
4  2013-01-01          1                BOOKS    0.0            0
5  2013-01-01          1         BREAD/BAKERY    0.0            0
6  2013-01-01          1          CELEBRATION    0.0            0
7  2013-01-01          1             CLEANING    0.0            0
8  2013-01-01          1                DAIRY    0.0            0
9  2013-01-01          1                 DELI    0.0            0
10 2013-01-01          1                 EGGS    0.0            0
11 2013-01-01          1         FROZEN FOODS    0.0            0
12 2013-01-01          1            GROCERY I    0.0            0
13 2013-01-01          1           GROCERY II    0.0            0
14 2013-01-01          1             HARDWARE    0.0            0
15 2013-01-01          1   HOME AND KITCHEN I    0.0            0
16 2013-01-01          1  HOME AND KITCHEN II    0.0            0
17 2013-01-01          1      HOME APPLIANCES    0.0            0
18 2013-01-01          1            HOME CARE    0.0            0
19 2013-01-01          1           LADIESWEAR    0.0            0

In [13]:
train.shape
trainClean = train.dropna()
trainClean["date"] = pd.to_datetime(trainClean["date"])
trainClean["day_of_week"]= trainClean["date"].dt.day_name()
trainClean["weekend"] = trainClean["day_of_week"].isin(["Saturday", "Sunday"])

Appending Oil prices to trainClean

In [14]:
oil = pd.read_csv("../Data/oil.csv", names = ["date", "price"],parse_dates = ['date'])
oil = oil.drop(index=0)
oil = oil.dropna()
oil["date"] = pd.to_datetime(oil["date"])
trainClean = trainClean.merge(oil, on="date")

Adding Column is_holiday to trainClean

In [26]:
holidays = pd.read_csv("../Data/holidays_events.csv")
holidays["date"] = pd.to_datetime(holidays["date"])
holidaysOnly= holidays[holidays["type"] == "Holiday"]
trainClean = trainClean.merge(holidaysOnly, on="date")
print(holidays["locale"].value_counts())
print(trainClean.loc[23654])
print()

National    174
Local       152
Regional     24
Name: locale, dtype: int64
date                       2013-06-25 00:00:00
store_nbr                                   20
family                               HOME CARE
sales                                        0
onpromotion                                  0
day_of_week                            Tuesday
weekend                                  False
price_x                                  95.25
price_y                                  95.25
type_x                                 Holiday
locale_x                              Regional
locale_name_x                         Imbabura
description_x    Provincializacion de Imbabura
transferred_x                            False
type_y                                 Holiday
locale_y                              Regional
locale_name_y                         Imbabura
description_y    Provincializacion de Imbabura
transferred_y                            False
type                                   Holiday
locale                                   Local
locale_name                          Latacunga
description         Cantonizacion de Latacunga
transferred                              False
Name: 23654, dtype: object